.page {
  &__title {
    margin-top: 10px;

    font-family: "Cookie", sans-serif;
    font-size: 120px;
    line-height: 133px;
    text-align: center;
    color: #e39a3b;

    @media (max-width: $break-point-mobile) {
      font-size: 60px;
      line-height: 67px;
    }
  }
}
