%title {
  margin-top: 10px;

  font-family: "Cookie", sans-serif;
  font-size: 120px;
  line-height: 133px;
  text-align: center;
  color: $main-page-color;

  @media (max-width: $break-point-mobile) {
    font-size: 60px;
    line-height: 67px;
  }
}

%button {
  padding: 8px 60px;
  background: $main-page-color;
  border-radius: 40px;
  cursor: pointer;
}
